packages
/AppDemo.WebUI/node_modules
/AppDemo.WebUI/dist
/AppDemo.Api/bin
/AppDemo.Api/obj
/AppDemo.Core/bin
/AppDemo.Core/obj
/AppDemo.Core.Tests/bin/Debug
/AppDemo.Core.Tests/obj/Debug
/.vs
/AppDemo.Api/.vs
/AppDemo.Core/.vs
/AppDemo.Api/*.user
